@model AgendamentoDeTarefas.Entites.Tarefa
@{
    ViewData["Title"] = "Criar Tarefa";
}
<h1>Criar nova tarefa</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="CriarTarefa">
            <div class="form-group">
                <label asp-for="Titulo" class="control-label">Titulo da tarefa</label>
                <input asp-for="Titulo" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label">Descrição</label>
                <input asp-for="Descricao" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label">Data</label>
                <input asp-for="Data" class="form-control" />
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Criar Tarefa" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<hr />
<div>
    <a asp-action="ObterTodos" style="color:white;">Voltar</a>
</div>